<app-auth-layout-component>
<div class="flex flex-col items-center h-screen w-full justify-center gap-6">
    <h1 class="text-2xl font-black">Sign in</h1>
    <div class="w-full max-w-100">
        <form [formGroup]="form" (ngSubmit)="signin()" class="flex flex-col gap-4 w-full p-4">
            <div class="flex flex-col gap-2">
                <label class="font-bold" for="firstname">Firstname:</label>
                <input class="p-2 border rounded-sm" id="firstname" type="text" formControlName="firstname">
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-bold" for="lastname">Lastname:</label>
                <input class="p-2 border rounded-sm" id="lastname" type="text" formControlName="lastname">
            </div>
            <div class="flex flex-col gap-2">
                @let usernameForm = form.controls['username'];
                <label class="font-bold" for="username">Email:</label>
                <input class="p-2 border rounded-sm" id="username" type="text" formControlName="username">
                @if (usernameForm.invalid && usernameForm.touched) {
                    <div><p class="text-red-500">Email invalid</p></div>
                }
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-bold"  for="password">Password:</label>
                <input class="p-2 border rounded-sm" id="password" type="password" formControlName="password">
            </div>
             <div class="flex flex-col gap-2">
                <label class="font-bold"  for="confirm">Confirm Password:</label>
                <input class="p-2 border rounded-sm" id="confirm" type="password" formControlName="confirm">
            </div>
            <button class="cursor-pointer hover:bg-gray-400 p-2 rounded-sm border border-gray-400 disabled:cursor-not-allowed" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Valider</button>
        </form>
    </div>
</div>
</app-auth-layout-component>